<!--# plugins/redmine_auto_report/app/views/versions/_contract_dates_form.html.erb-->
<p>
  <%= f.label :work_start_date, l(:field_work_start_date) %>
  <%= f.date_field :work_start_date %>
</p>
<p>
  <%= f.label :work_end_date, l(:field_work_end_date) %>
  <%= f.date_field :work_end_date %>
</p>